<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center w-75">
        <div class="group d-flex flex-column justify-content-evenly">
            <h3>Submitted Info</h3>
            <div class="d-flex flex-row justify-space-between">
                Name: {{ name_on_template }}
            </div>
            <div class="d-flex flex-row justify-space-between">
                Dojo Location: {{ location_on_template }}
            </div>
            <div class="d-flex flex-row justify-space-between">
                Favorite Language: {{ language_on_template }}
            </div>
            <div class="d-flex flex-row justify-space-between">
                Comment: {{ comment_on_template }}
            </div>
        </div>
        <div class="d-flex flex-row justify-content-right">
            <form action="/return_home" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-primary">Go Back</button>
            </form>
        </div>
    </div>
</body>
</html>